[submodule "loyalty-program-service"]
	path = loyalty-program-service
	url = git@github.com:Matt-Hays/loyalty-program-service.git
[submodule "inventory-service"]
	path = inventory-service
	url = git@github.com:Matt-Hays/inventory-service.git
[submodule "point-of-sale-service"]
	path = point-of-sale-service
	url = git@github.com:Matt-Hays/point-of-sale-service.git
[submodule "configuration-server"]
	path = configuration-server
	url = git@github.com:Matt-Hays/configuration-server.git
[submodule "configuration-repository"]
	path = configuration-repository
	url = git@github.com:Matt-Hays/configuration-repository.git
[submodule "service-discovery"]
	path = service-discovery
	url = https://github.com/Matt-Hays/service-discovery.git
[submodule "gateway-server"]
	path = gateway-server
	url = https://github.com/ronwellman/gateway-server
